* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0A0C1B;
    color: #fff;
    font-family: Deca, sans-serif;
}
p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}
h1 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
}
.page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-wrapper {
    width: 1110px;
    height: auto;
    background: #1C1938;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.content-wrapper {
    width: 52%;
    padding: 70px 130px 30px 70px
}
.content-wrapper span {
    color: #B05BDD;
}
.content-wrapper p {
    color: #7F7C9D;
}

.stat-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: 60px;    
}
.stat-wrapper h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}
.stat-wrapper p {
    font-size: 11px;
    letter-spacing: 1.7px;
}
.img-wrapper {
    overflow: hidden;
    background-color: #B05BDD;
}
.img-wrapper img {
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

/* Media Q */

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 28px;
        line-height: 1.2;
    }
    .page-wrapper {
        padding: 0 25px;
        overflow: hidden;
    }
    .main-wrapper {
        max-width: 100%; 
        flex-direction: column-reverse;
    }  
    .content-wrapper {
        width: 100%;
        padding: 40px 40px 20px 40px;
        text-align: center;
    }
    .img-wrapper {
        width: 100%;
        height: 243px;
    }
    .img-wrapper img {
        width:100%;
        height: 100%;
    }
    .stat-wrapper {
        flex-direction: column;
        margin-top: 30px;
    }
}

